@import url(reset.css);

.container {
	max-width: 1200px;
	margin: 50px auto;
	border: 2px solid black;
	height: 600px;
	display: flex;
	align-items: flex-start;
}

.block {
	font-size: 56px;
	font-weight: bold;
	background-color: crimson;
	color: #fff;
	padding: 20px;
	border: 2px solid chartreuse;
	/* flex-grow: 1; */
}

.block1 {
	/* order: 4; */
	/* width: 600px; */
	/* flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 600px; */
	flex: 1 1 auto;
}

.block2 {
	/* order: 3; */
	flex-shrink: 0;
	/* flex-grow: 0; */
	/* width: 400px; */
	flex-basis: 400px;
	align-self: stretch;
}

.block3 {
	order: 2;
}

.block4 {
	order: 1;
}

.block5 {
	order: 6;
}

.block6 {
	order: 5;
}